/target
/classes
/checkouts
/bin
log*
*.log
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/public/js/compiled
/dpkg_config/*
!/dpkg_config/Makefile
!/dpkg_config/default
!/dpkg_config/default/*